/* Color Palette Dark mode: https://colorhunt.co/palette/041c3204293a064663ecb365 
* Color Palette Light Mode: https://colorhunt.co/palette/9ac5f499dbf5a7eceeffeebb
*/
@font-face{
	font-family: Roboto; src: url("../fonts/roboto/Roboto-Regular.ttf");
	font-family: Roboto; font-weight: light; src: url("../fonts/roboto/Roboto-Thin.ttf");
	font-family: Roboto; font-weight: bold; src: url("../fonts/roboto/Roboto-Bold.ttf");

	font-family: Amazing; src: url("../fonts/Amazing-Slab/Regular.ttf");
	font-family: Amazing; font-weight: light; src: url("../fonts/Amazing-Slab/Light.ttf");
	font-family: Amazing; font-weight: bold; src: url("../fonts/Amazing-Slab/Bold.ttf");
}

/*Cambiar Paleta de Colores*/
/*Dark Mode*/
body{
	background-color: #393E46;
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	color: #EEEEEE;
}

header{
	background-color: #222831;
	border: 2px solid #00ADB5;
}
aside{
	background-color: #222831;
	border: 2px solid #00ADB5;
}
.NomRecomend{
	border: 2px solid #00ADB5;
}
.FormContainer{
	background-color: #222831;
	border: 2px solid #00ADB5;
}

/*Light Mode WIP*/
/*
body{
	ackground-color: #04293A;
	color: #ECB365;
}
header{
	background-color: #041C32;
	border: 2px solid #064663;
}
aside{
	background-color: #064663;
	border: 2px solid #041C32;
}
*/

body{
	display: grid;
	grid-row-gap: 10px;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 100px 300px 300px 300px 100px;
	font-family: Roboto, sans-serif;
	font-weight: lighter;
}
header{
	grid-column: 1/span 4;
	display:flex;
	flex-wrap: nowrap;
	justify-content: spasce-between;
	align-items: center;
	font-family: Amazing, serif;
	font-size: 30px;
	height: 100px;
	border-radius: 10px;
	
}
.logo{
	height: 100px;
	flex-grow: 1;
	order: 1;
}
.navbar{
	display: flex;
	float: right;
	align-self: right;
	padding-top: 0px;
	order: 2;
	font-family: Roboto, sans-serif;
	font-weight: light;
}
.subnavbar{
	flex-grow: 1;
	order: 1;

}
.subnavbar2{
	flex-grow: 1;
	order: 2;
}

aside{
	border-radius: 10px;
	display: flex;
	flex-flow: column;
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row: 2/ span 3;
	padding: 10px 10px 10px 10px;
}
.FormContainer{
	border-radius: 10px;
	padding: 5px 5px 5px 5px;
	grid-column: 2 / span 2;

}

/***********************************************/
h1#logoLetter{
	margin: 0px;
	padding-top: 15px;
	height: 85px;
	padding-left: 20px;
}

a.navitem{
	color: inherit;
	text-decoration: inherit;
	padding:10px 20px 10px 20px;
	font-size: 20px;
}
a.navitem:hover{
	color: #222831;
	text-decoration: inherit;
	background-color: #00ADB5;
	border-radius: 10px;
}
.logo > a{
	color: inherit;
	text-decoration: inherit;
}
.NomRecomend{
	width: inherit;
}