/* Color Palette Dark mode: https://colorhunt.co/palette/041c3204293a064663ecb365 
* Color Palette Light Mode: https://colorhunt.co/palette/9ac5f499dbf5a7eceeffeebb
*/
@font-face {
    font-family: Roboto;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    font-family: Roboto;
    font-weight: light;
    src: url("../fonts/roboto/Roboto-Thin.ttf");
    font-family: Roboto;
    font-weight: bold;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
    font-family: Amazing;
    src: url("../fonts/Amazing-Slab/Regular.ttf");
    font-family: Amazing;
    font-weight: light;
    src: url("../fonts/Amazing-Slab/Light.ttf");
    font-family: Amazing;
    font-weight: bold;
    src: url("../fonts/Amazing-Slab/Bold.ttf");
}

/* Cambiar Paleta de Colores */
/* Dark Mode */
body {
    background-color: #393E46;
    background-image: url('../img/bg2.jpg');
    background-size: cover;
    color: #EEEEEE;
}

header {
    background-color: #222831;
    border: 2px solid #00ADB5;
}

aside {
    background-color: #222831;
    border: 2px solid #00ADB5;
}

.NomRecomend {
    border: 2px solid #00ADB5;
}

.FormContainer {
    background-color: #222831;
    border: 2px solid #00ADB5;
}

/* Light Mode WIP */
/*
body{
    background-color: #04293A;
    color: #ECB365;
}
header{
    background-color: #041C32;
    border: 2px solid #064663;
}
aside{
    background-color: #064663;
    border: 2px solid #041C32;
}
*/

body {
    display: grid;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 100px 300px 300px 300px 100px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
}

header {
    grid-column: 1 / span 4;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -120px;
    background-color: rgb(6, 70, 99);
    padding: 10px;
    color: #fff;
    font-size: 20px;
    width: 1920px;
    height: 80px;
    box-shadow: 0 0 15px gray;
}

.logo {
    padding: 28px 0px;
    margin-right: 80vw;
    margin-left: 50px;
}

.navlink {
    padding: 38.5px 0px;
    margin-right: 30px;
    color: #dcdde9;
    text-decoration: none;
}

aside {
    grid-column: 1 / span 1;
    grid-row: 2 / span 3;
    background-color: rgb(6, 70, 99);
    border: 2px solid #00ADB5;
}

.NomRecomend {
    border: 2px solid #00ADB5;
    /* Agrega aquí cualquier otro estilo que desees para este elemento */
}

.FormContainer {
    background-color: #222831;
    border: 2px solid #00ADB5;
    /* Agrega aquí cualquier otro estilo que desees para este elemento */
}

/* Agrega cualquier otro estilo adicional que desees para tu página */
