/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 jul. 2023, 20:29:42
    Author     : Nadia Soto
*/
@font-face{
    /*Fuente Principal*/
    font-family: Roboto;
    src: url("../fonts/roboto/Roboto-Regular.ttf");
    font-family: Roboto;
    font-weight: light;
    src: url("../fonts/roboto/Roboto-Thin.ttf");
    font-family: Roboto;
    font-weight: bold;
    src: url("../fonts/roboto/Roboto-Bold.ttf");
    font-family: Roboto;
    font-weight: bold;
    font-style: italic;
    src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
    /* Fuente Alternativa */
    font-family: Amazing;
    src: url("../fonts/Amazing-Slab/Regular.ttf");
    font-family: Amazing;
    font-weight: light;
    src: url("../fonts/Amazing-Slab/Light.ttf");
    font-family: Amazing;
    font-weight: bold;
    src: url("../fonts/Amazing-Slab/Bold.ttf");
}

html, body{
    height : 100%;
    margin: 0%;
    display: flex;
    flex-direction: column;
}
.header{
    background-color: #064663;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.footer{
    background-color: #064663;
    color: #fff;
    padding: 30px;
    text-align: center;
}

.content{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

h1{
    margin-bottom: 20px;
}

form{
   margin-top: 10px;
}

button{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #064663;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: #7dafc6;
}
