
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, auto));
    grid-gap: 20px;
    padding: 20px;
  }
  
  .post {
    background-color: #222831;
    border: 2px solid #00ADB5;
    padding: 10px;
   
  }
  
  .comment {
    background-color: #393E46;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #00ADB5;
    border-radius: 3px;
    color: #EEEEEE;
  }
  .add-post{
    background-color: #222831;
    border: 2px solid #00ADB5;
    padding: 10px;
    border-radius: 5px;
    
    display: grid;
    
    gap: 10px;
  }
  .comments2{
    padding: 5px;
    margin-top: 10px;
    border: 1px ;
    border-radius: 3px;
  }
 
  .footer-container {
    
      height: 100px;
      flex-grow: 1;
      order: 1;
    
}
