/* Color Palette Dark mode: https://colorhunt.co/palette/041c3204293a064663ecb365 
* Color Palette Light Mode: https://colorhunt.co/palette/9ac5f499dbf5a7eceeffeebb
*/
@font-face{
	font-family: Roboto; src: url("../fonts/roboto/Roboto-Regular.ttf");
	font-family: Roboto; font-weight: light; src: url("../fonts/roboto/Roboto-Thin.ttf");
	font-family: Roboto; font-weight: bold; src: url("../fonts/roboto/Roboto-Bold.ttf");
	font-family: Roboto; font-weight: bold; font-style: italic; src: url("../fonts/roboto/Roboto-BoldItalic.ttf");
	/* Fuente alterna */
	font-family: Amazing; src: url("../fonts/Amazing-Slab/Regular.ttf");
	font-family: Amazing; font-weight: light; src: url("../fonts/Amazing-Slab/Light.ttf");
	font-family: Amazing; font-weight: bold; src: url("../fonts/Amazing-Slab/Bold.ttf");
}

/* Cambiar Paleta de Colores */
/* Dark Mode - No borrar por el momento porfa! - Daniel */
/*body{
	background-color: #393E46;
	background-image: url('../img/bg2.jpg');
	background-size: cover;
	color: #EEEEEE;
}

header{
	background-color: #222831;
	border: 2px solid #00ADB5;
}

.NomRecomend{
	border: 2px solid #00ADB5;
}

.FormContainer{
	background-color: #222831;
	border: 2px solid #00ADB5;
}*/

body {
  font-family: Roboto, sans-serif;
  background-color: #f2f2f2;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

/*Header e Items Header*/
header {
  background-color: rgb(6, 70, 99);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
  width: 100%;
}
header h1 {
  margin-right: 10px;
  margin-left: 50px;
}
header a {
  margin-right: 30px;
  color: #dcdde9;
  text-decoration: none;
}

/*Footer e Items Footer*/
footer {
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(6, 70, 99);
  padding: 10px;
  text-align: center;
  color: #AFD3E2;
  font-size: 12px;
  width: 100%;
}
footer a{
  color: #dcdde9;
  text-decoration: none;
}
.ftrItem1{
  order: 1;
  flex-grow: 1;
}

/*Items del Form de Login*/

.formcont {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 50px;
  width: 30%;
  height: auto;
  text-align: center;
  margin: 18px 0px 18px 0px;
  display: grid;
  grid-template-columns: auto auto;
}
.formcont h1 {
  color: #1e3557;
  font-size: 25px;
}
.formcont input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  text-align: center;
}
.formcont button {
  background-color: rgb(6, 70, 99);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.formcont p {
  margin-top: 10px;
}
hr{
	border: 2px solid rgb(6, 70, 99);
	width: 70%;
	margin-bottom: 30px;
}